@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* CSS Document */
body{font-family: 'Roboto', sans-serif; background-color:#E1DFDF;}
/*Header css*/
.navbar-inverse {
    background-color: #000;
    border-color: #080808;
}
.image-upload > input
{
    display: none;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar {
    position: relative;
    min-height: 75px;
    margin-bottom: 0px;
    border: 0px solid transparent;
}
.navbar {
    border-radius: 0px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 7px;
}
.navbar-nav>li {
    float: left;
    border-left: 2px solid #222222;
}
.navbar-nav>li:first-child{
    float: left;
    border-left: 0px solid #222222;
}
.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 25px;
}
.navbar-form .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.navbar-form {
    width: auto;
	margin-bottom: -25px;
    padding-top: 12px;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu {min-width: 125px;}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;font-family: 'Roboto', sans-serif;
}

.search {
  width: 100%;
  position: relative
}
.form-control:focus {
    border-color: #ffffff;
}
.searchTerm {
    float: left;
    width: 100%;
    border: 1px solid #ffffff;
    padding: 5px; 
    height: 38px;
    border-radius:0px;
    outline: none;
    color: #ffffff;
    background-color: #000;
}
.searchTerm:focus{
  color: #fff;
}
.nav .dropdown.open .caret{
    border-top: none;
    border-bottom: 4px solid #fff;
}
.searchButton {
  position: relative;  
  right: -0px;
  top: -38px;
  width: 40px;
  height: 38px;
  border:0px solid #00B4CC;
  background: #fff;
  text-align: center;
  color: #000;
  border-radius:0px;
  cursor: pointer;
  font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*header css end*/

/*Profile page css*/
.hc2{
    color:#5269dd;
}
.categoery_title{background-color:#222; color:#fff;text-align:center;}
.categoery_title h3{font-size:20px;margin:0px;padding:10px 0px;text-transform:uppercase;}
.categoery_post{background-color:#FFFFFF;margin-bottom:15px;padding:10px;}
.profile-pic {
    width: 100%;
    margin: 34px 0px;
}
.edit_icon {
    position: absolute; top:15px; right:0px;
}
.nopad{padding: 0px}
.bbg1{ background-image: url( ../images/logo_edit2.jpg);background-repeat:repeat;background-size: cover;height: 232px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
    border-bottom: dashed thin;
}
.btn {
    display: inline-block;
    padding: 4px 13px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.btn-default:hover{
    color: #333;
    background-color: #fff;
    border-color: #fff;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom:0px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 0px solid #e5e5e5; 
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
.form-group .btn.btn-primary {
    border-radius: 0px;
}
.mmt {margin-top: 20px;}
.mt h3{font-size:20px;margin: 7px 0px 0px 0px;}
.mt h6{font-size:16px;}
.mt {
    margin-top:157px;
    border-style: none;
    border-right: solid 1px #1b1b1b;
    height: 60px;color:white;
}
.mt:first-child{
	margin-top:0px;
	border-style: none;
	border-right: none;
	}
.mt:last-child{
	border-style: none;
    border-right: none;
	}
.s-mtb30 {
    margin: 30px 0px;
}
.nav-tabs>li>a {
    border: 0px solid transparent!important;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background: #0f0707;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-top: 0px;
    margin-left: 0px;
    background: #E1DFDF;
    border-top-left-radius: 0;
}
.nav-tabs>li>a {
    border: 0px solid transparent!important;
}
.nav-tabs>li>a {
    margin: 0px;
    border-radius: 0px;
    background: #0f0707;
    color: #fff;
}
.ttabs {
    background: white;
    height: 100%;
    margin-bottom: 5px;
    padding: 40px;
    padding-top: 14px;
}
.tabs-cards {
    border-bottom: dashed thin;
    margin-top: -3px;
    padding-bottom: 18px;
    width: 100%;
    overflow-y: hidden;
}
.ffromm {
    float: initial!important;
}
/*Profile css end*/

@media (min-width: 768px) and (max-width: 1023px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
	.navbar-nav>li:first-child {
    float: none;
    border-left: 0px solid #222222;
}
}
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}
@media(max-width:480px){
	.searchButton {
    position: relative;
    right: -0px;
    width: 40px;
    height: 38px;
    border: 0px solid #00B4CC;
    background: #fff;
    text-align: center;
    color: #000;
    border-radius: 0px;
    cursor: pointer;
    font-size: 20px;
}
	.navbar-nav>li {
    float: none;
    border-left: 0px solid #222222;
}
	.navbar-nav>li:first-child {
    float: none;
    border-left: 2px solid #222222;
}
	.bbg1 {
    /* background-image: url(../images/logo_edit2.jpg); */
    background-repeat: repeat;
    background-size: cover;
    height: auto;
    background: blue;
}
}
@media(max-width:320px){
	.searchButton {
    position: relative;
    right:-0px;
    width: 40px;
    height: 38px;
    border: 0px solid #00B4CC;
    background: #fff;
    text-align: center;
    color: #000;
    border-radius: 0px;
    cursor: pointer;
    font-size: 20px;
}
	.navbar-nav>li {
    float: none;
    border-left: 0px solid #222222;
}
	.navbar-nav>li:first-child {
    float: none;
    border-left: 2px solid #222222;
}
	.bbg1 {
    /* background-image: url(../images/logo_edit2.jpg); */
    background-repeat: repeat;
    background-size: cover;
    height: auto;
    background: blue;
}
}