
@charset "utf-8";
/* CSS Document */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color:#E1DFDF;
    overflow-x: hidden;

}

/// ======================== header =================


/*Header css*/
.logoM{padding:2px 0px;}
header>.navbar-inverse {
    background-color: #000 important;
    border-color: #080808;
}
.image-upload > input
{
    display: none;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar {
    position: relative;
    min-height: 75px;
    margin-bottom: 0px;
    border: 0px solid transparent;
    background: #000;
}
.navbar {
    border-radius: 0px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.navbar-nav>li {
    float: left;
    border-left: 2px solid #222222;
}
.navbar-nav>li:first-child{
    float: left;
    border-left: 0px solid #222222;
}
.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 25px;
}
.navbar-form .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.navbar-form {
    width: auto;
    margin-bottom: -25px;
    padding-top: 12px;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-menu {min-width: 125px;}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;font-family: 'Roboto', sans-serif;
}

.search {
    width: 100%;
    position: relative
}
.form-control:focus {
    border-color: #ffffff;
}
.searchTerm {
    float: left;
    width: 100%;
    border: 1px solid #ffffff;
    padding: 5px; 
    height: 38px;
    border-radius:0px;
    outline: none;
    color: #ffffff;
    background-color: #000;
}
.searchTerm:focus{
    color: #fff;
    border: 1px solid white !important;
}
.nav .dropdown.open .caret{
    border-top: none;
    border-bottom: 4px solid #fff;
}
.searchButton {
    position: relative;  
    right: -0px;
    top: -38px;
    width: 40px;
    height: 38px;
    border:0px solid #00B4CC;
    background: #fff;
    text-align: center;
    color: #000;
    border-radius:0px;
    cursor: pointer;
    font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    /* border-color: #ac2925; */
}
/*----------------------------header css end----------------------*/



/*My CSS ATUL*/
.span3 {
    width: 100%;
    margin: 5px 0px;
    padding: 5px;
	color:#191919;
}
.p-width{width:85%;}
.nopad {
    padding: 0px;
}
.tavs{
    border-bottom: dashed thin;
    margin-top: -3px;
    padding-bottom: 18px;
    height: 320px;

}
.social-bbtn{font-size:14px;}
label.fb-lbl {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    padding: 0px 60px 0px 0px;
}

.or-txt{
    font-weight: 600;
    margin-top: 10px;
    text-align: center;

}
.nav-margin{
    margin: -3px;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: 6px;
    margin-left: 6px;

}
.input-group-btn {
    position: relative;
    font-size: 22px;
    white-space: nowrap;    
    z-index: 3;
}
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.1em;
    padding: 0 10px 0 44px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width: 173px;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 40px rgba(0,0,0,0.3);
}
/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}
.home-lgn-frm {
    width: 80%;
    padding: 2px 2px ;
    margin: 2px 0px ;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}
.home1{
    margin-right: 150px;
    margin-left: 400px;
    text-align: left;
}
.tags{

    margin-bottom:10px;
    margin-top: 35px;
    background-color: white;
}
.hc {  
    background-color: #0e0707; 
    color: #fff;    
    /*    width: 163px; 
        height: 34px;*/
    margin-left: 10px;    
    margin-top: -35px;    
    padding-top: 9px;    
    text-align: center;   
    padding-bottom: 11px;    
    font-size: 14px;    
    font-weight: 700;
    margin-right: 10px;
}
.img{

    height: 46px;
    width: 39px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    padding: 4px;
}
.user{

    margin-right: -15px;
    margin-left: -15px;
    padding: 4px;
}
.hc1{
    background-color: #0e0707;
    color: #fff;
    width: 164px;
    height: 30px;
    margin-left: -4px;
    margin-top: -35px;
    padding-top: 7px;
    text-align: center;
    padding-bottom: 11px;

}
.b2{
    background-color: #b70b0b;
    color: white;
    font-size: 13px;
    border: none;
    margin-top: 11px;
}
.b3{
    background-color:#E1DFDF;
    border: none;
    color: black;
    font-size: 14px;

}
.b4{
    font-size: 12px;

}
.hc2{
    color:red;
}

.header-block{
    background: black;
}
.nav-menu{
    float: right;
}
///  my css

.displaynonehard{
    display: none!important;

}
.displaynone{
    display: none;
}

.ci_error_label {
    padding: 5px 15px 5px 5px!important;
}
.height5
{
    clear: both;
    height: 5px;
}
.height10
{
    clear: both;
    height: 10px;
}
.height20
{
    clear: both;
    height: 20px;
}
.height30
{
    clear: both;
    height: 30px;
}

span.error {
    color: #FB4F60;
    font-size: 12px;
    font-family: "OpenSansRegular";
}

.social-icon{
    font-size: 20px;    
    border-radius: 0px;
    padding: 0px;
    margin: 0px;
}

.singup-frm{
    text-align: left;
    background: #fff;
    margin: 80px 0px 80px 0px;
    padding: 20px 50px 20px 50px;
}
.form-group input, .form-group textarea, .form-group select{
    border-radius: 0px;
}
.form-group input:focus, .form-group textarea:focus, .form-group select:focus{
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.55);
    box-shadow: 0px 0px 0px #fff;
}

.form-group .btn.btn-primary{
    border-radius: 0px;
}

.form-group textarea{
    resize: none;
}

.social-btn{
    padding: 27px;
}

.or-txt-case {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 20px auto 20px auto;
}

// new css


.hc4{
    background-color: black;
    color: white;
}
.author_name{
    color: #337ab7;
    font-weight: 800;
    margin: 0px;
}
.post_date{
    color: #337ab7;
    font-weight: 400;
    margin: 0px;
}
.progress {
    height: 18px;
    margin-bottom:  -15px;
    overflow: hidden;
    background-color: #777272;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    width: 198px;
    margin-left: 21px;
}

.right-sec-bx{
    background: #fff;
}

.hdg{
    background-color: black;  
    color: white; 
    text-align:center; 
    padding: 7px 10px 7px 10px;
}
.sec-wite-bx{
    padding: 6px 0px 20px 18px;
}

.linked{
    margin-left: 20px;
    color: red;
}
.voting{
    margin-left: 12px;
    padding: 21px;
}

.browse-tpc-ls{
    padding: 0px 5px 14px 11px;
}


.nav-tabs>li>a{
    margin: 0px;
    border-radius: 0px;
    background: #0f0707;
    color: #fff;
}

.nav-tabs>li>a:hover{
    margin: 0px;
    border-radius: 0px;
    background: #0f0707;
    color: #fff;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-top: 0px;
    margin-left: -1px;
    background: #E1DFDF;
    border-top-left-radius: 93;
}


.footer
{    font-size: 14px;
     margin-top: 12px;
     text-align: center;
     padding: 7px;
     font-stretch: 11px;
     padding-left: -125px;
     padding-left:10px;
}
.footer a
{    font-size: 14px;
     margin-top: 12px;
     text-align: center;
     padding: 7px;
     font-stretch: 11px;
     padding-left: -125px;
     padding-left:10px;
     color: #fff;
}

.reseve-word{
    color: #fff;
    text-align: center;
}

.add-tpc-btn{
    position: absolute; 
    text-align: right; 
    margin-left: 528px;
}
.vdo-mt {
    height: auto;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
}

.play_video {
    position: absolute;  
    top: 30%;    
    right: 27px; 
    width: 30%;  
    height: auto;
}
.tabs-cards {
    border-bottom: dashed thin;
    margin-top: -3px;
    width:100%; 
    overflow-y: hidden;
}
.s-mtb30{ 
    margin: 25px 0px 20px;
}
.signupbtn {
    border: 1px solid black;
    padding: 4px 12px;
    font-size: 16px;
    margin-right: 10px;
    background: #000;
}

.nav-tabs>li>a {
    border: 0px solid transparent!important;
}
.mb25{
    margin-bottom: 25px;
}
.linkmt20{
    margin-top:5px;
}

.categoery_title{background-color:#222; color:#fff;text-align:center;}
.categoery_title h3{font-size:14px;margin:0px;padding:10px 0px;text-transform:uppercase;font-weight: 700;}
.categoery_post{background-color:#FFFFFF;margin-bottom:15px;padding:10px;}
.profile-pic {
    width: 100%;
    margin: 34px 0px;
}
.edit_icon {
    position: absolute; top:15px; right:0px;
}
.nopad{padding: 0px}
.bbg1{ 
    /*background-image: url( ../img/profile_bc_img.jpg);*/
	background-image: url(  ../images/profile_bc_img.jpg);
    background-repeat:repeat;
    background-size: cover;height: 232px;
    color: #fff;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
    border-bottom: dashed thin;
}
.btn {
    display: inline-block;
    padding: 7px 13px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.btn-default:hover{
    color: #333;
    background-color: #fff;
    border-color: #fff;
}
legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom:0px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 0px solid #e5e5e5; 
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
.form-group .btn.btn-primary {
    border-radius: 0px;
}
.mmt {margin-top: 20px;}
.mt h3{font-size:20px;margin: 7px 0px 0px 0px;}
.mt h6{font-size:16px;}
.mt {
    margin-top:157px;
    border-style: none;
    border-right: solid 1px #1b1b1b;
    height: 60px;color:white;
}
.mt:first-child{
    margin-top:0px;
    border-style: none;
    border-right: none;
}
.mt:last-child{
    border-style: none;
    border-right: none;
}
.nav-tabs>li>a {
    border: 0px solid transparent!important;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background: #0f0707;
}
.well {
    min-height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    margin-top: 0px;
    margin-left: 0px;
    background: #E1DFDF;
    border-top-left-radius: 0;
}
.nav-tabs>li>a {
    border: 0px solid transparent!important;
}
.nav-tabs>li>a {
    margin: 0px;
    border-radius: 0px;
    background: #0f0707;
    color: #fff;
}
.ttabs {
    background: white;
    height: 100%;
    margin-bottom: 5px;
    padding: 40px 20px;
}
.ffromm {
    float: initial!important;
}
.breadcrumb {
    padding:0px;
    margin-bottom:0px; 
    list-style: none;
    background-color: transparent; 
    border-radius: 0px; 
}

/*--------------------------------------------------------------------
                            Responsive Css 
--------------------------------------------------------------------*/	
@media(max-width: 1024px) {
.play_video {
    position: absolute;
    top: 30%;
    right: 100px;
    width: 30%;    
    height: auto;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 7px;
}
}
@media (min-width: 768px) and (max-width: 1023px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-nav>li {
        float: left;
        border-left: 0px solid #222222;
    }
    .navbar-nav>li:first-child {
        float: none;
        border-left: 0px solid #222222;
    }
    .play_video {
    position: absolute;
    top: 30%;
    right: 80px;
    width: 30%;
    height: auto;
}
.vdo-mt {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    height: auto;
}
}
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (max-width: 768px) {
    .dropdown-menu {    position: relative;   
                        background-color: transparent; }
    .play_video {
    position: absolute;
    top: 30%;
    right: 80px;
    width: 30%;
    height: auto;
}
.vdo-mt {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
    height: auto;
}
}

@media(max-width:480px){
    .searchButton {
        position: relative;
        right: -0px;
        width: 40px;
        height: 38px;
        border: 0px solid #00B4CC;
        background: #fff;
        text-align: center;
        color: #000;
        border-radius: 0px;
        cursor: pointer;
        font-size: 20px;
    }
    .navbar-nav>li {
        float: none;
        border-left: 0px solid #222222;
    }
    .navbar-nav>li:first-child {
        float: none;
        border-left: 2px solid #222222;
    }
    .bbg1 {
        background-image: url(../img/profile_bc_img.jpg);
        background-repeat: repeat;
        background-size: cover;
        height: auto;
        background: blue;
    }
    .play_video {
    position: absolute;
    top: 30%;
    right: 42px;
    width: 30%;
    height: auto;
}
}
@media(max-width:320px){
    .searchButton {
        position: relative;
        right:-0px;
        width: 40px;
        height: 38px;
        border: 0px solid #00B4CC;
        background: #fff;
        text-align: center;
        color: #000;
        border-radius: 0px;
        cursor: pointer;
        font-size: 20px;
    }
    .navbar-nav>li {
        float: none;
        border-left: 0px solid #222222;
    }
    .navbar-nav>li:first-child {
        float: none;
        border-left: 2px solid #222222;
    }
    .bbg1 {
        background-image: url(../img/profile_bc_img.jpg);
        background-repeat: repeat;
        background-size: cover;
        height: auto;
        background: blue;
    }
    .play_video {
    position: absolute;
    top: 30%;
    right: 34px;
    width: 30%;
    height: auto;
}
}





/*@media screen and (max-width: 767px) and (min-width: 635px) {
    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 41px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
        color: black;
        border: 0px solid;
        background: white;
    }
}



@media screen and (max-width: 634px) and (min-width: 545px) {

    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 41px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
        color: black;
        border: 0px solid;
        background: white;
    }
}
@media screen and (max-width: 545px) and (min-width: 478px) {
    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 41px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
        color: black;
        border: 0px solid;
        background: white;
    }
}
@media screen and (max-width: 478px) and (min-width: 432px) {

    .singup-frm {
        text-align: left;
        background: #fff;
        margin: 0;
        padding: 20px;
    }
    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 41px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
        color: black;
        border: 0px solid;
        background: white;
    }
}

@media screen and (max-width: 432px) and (min-width: 377px) {

    .singup-frm {
        text-align: left;
        background: #fff;
        margin: 20px;
        padding: 20px;
    }
    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 41px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
        color: black;
        border: 0px solid;
        background: white;
    }
}
@media screen and (max-width: 376px) and (min-width: 320px) {

    .loginBtn {
        box-sizing: border-box;
        position: relative;
        margin: 0.1em;
        padding: 0 10px 0 44px;
        border: none;
        text-align: left;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 16px;
        color: #FFF;
        width:276px;
    }

    .form-control-feedback {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        display: block;
        width: 41px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        pointer-events: none;
        color: black;
        border: 0px solid;
        background: white;
    }
}*/