@charset "utf-8";
/* CSS Document */
body{padding:0px;margin:0px;}
.nopadding{padding:0px;}
.nomargin{margin:0px;}
.outfit-container{width:500px; height:450px;}
.outfit-container img{width:100%; height:auto;}

.shirt {
    position: absolute;
    top: 117px;
    left: 138px;
    width: 215px;
    /* height: 35%; */
    z-index: 99;
}
.jeans {
    position: absolute;
    top: 276px;
    left: 168px;
    width: 155px;
     height: 310px; 
}